<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="wp8" />
  <package id="sqlite-net" version="1.0.8" targetFramework="wp81" />
  <package id="sqlite-net-wp8" version="3.8.5" targetFramework="wp81" />
  <package id="SQLitePCL" version="3.8.5.1" targetFramework="wp81" />
  <package id="SQLitePCL.raw_basic" version="0.7.1" targetFramework="wp81" />
  <package id="WPtoolkit" version="4.2013.08.16" targetFramework="wp8" />
</packages>